

/*Font Variables*/
$font-stack: 'BenchNine', sans-serif;
$title-fonts: 'Amaranth', monospace;

/*Colors*/
$teal: #119692;
$pastel: #FFE484;
$white: #fcfcfc;
$slate: #7d8895;
$black: #2b2b2e;

/*Foundation*/
@import 'foundation';


/*Typography*/
h1{
    font-family: $title-fonts;
    color: $teal;
}

h2{
    @extend h1;
}

h3{
    font-family: $font-stack;
    letter-spacing: .3em;
    text-transform: uppercase;
}
.left-aligin{
    text-align: left;
}
.right-align{
    text-align: right;
}
.center-align{
    text-align: center;
}
.bold{
    font-weight: 700;
}
footer a{
    color: $pastel;
    font-size: .7em;
    vertical-align: sub;
    }
footer a:hover{
    color: $slate;
    }


/*Body Items*/
*{
    margin: 0px;
}
html{
    @extend .no-margin;
    @extend .no-padding;
}
body{
    font-family: $font-stack;
    color: $black;
    background-color: $white;
    @extend .no-margin;
    @extend .no-padding;
    height: 100%;
    width: 100%;
}

.page-wrap {
  min-height: 99vh;
  /* equal to footer height */
  margin-bottom: -70px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

header {
    padding-top: 10px;
    height: 50px;
    width: 80%;
    @extend .center;
    text-align:center;
    line-height:50px;
}
main {
    @extend .center;
    width: 75%;
    @extend .page-margin;
}
footer{
    height: 50px;
    background-color: $teal;
    padding-right: 5%;
    padding-left: 5%;
}
footer .row{
    @extend .no-margin;
    @extend .no-padding;
}
footer .columns{
    height: 50px;
    @extend .med-padding;
}
.nav-bar{
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
}
.landing-page{
    height: 70vh;
}
.columns {
    height: inherit;
}
.headshots-col{
    height: 80vh;
    @extend .small-padding;
}

/*Margins*/
.no-margin{
    margin: 0px !important;
}

.no-padding{
    padding: 0px;
}

.small-margin{
    margin: 5px;
}

.small-padding{
    padding: 5px;
}

.med-margin{
    margin: 10px;
}

.med-padding{
    padding: 10px;
}

.center {
    margin-left:auto;
    margin-right:auto;
}
.page-margin {
    margin-top: 20px;
    margin-bottom: 30px;
}

/*Display Setting*/
.block{
    display: block;
    width: 100%;
}
.table{
    display: table;
    height: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.two-thirds{
    height: 60%;
    @extend .no-margin;
    @extend .no-padding;
}
.one-third{
    height: 30%;
    @extend .no-margin;
    @extend .no-padding;
}
.full-height{
    height:100%;
}

/*Buttons*/
.nav-links{
    color: $black;
    border: none;
    border-color: transparent;
    font-size: 1em;    
}

.nav-links:hover{
    color: $teal;
}
.half{
    width: 49%;
    @extend .no-margin;
    line-height: .9em;
}
.contact{
    font: $title-fonts;
    font-size: 2em;
    font-weight: 100;
    color: $slate;
    letter-spacing: .05em;
    display: inline-block;
    position: relative;
}
.contact:before{
    content: "";
    position: absolute;
    width: 25%;
    height: 2px;
    bottom: 0;
    left: 75%;
    border-bottom: 1px solid $slate;
}


/*Images*/
.main-headshot {
    height: 100%;
    overflow: hidden;
    background-image: url(http://placehold.it/1000x1000);
    background-position: center;
    background-size: cover;
}
.signature{
    width: 100%;
    height: auto;
}
.headshot1{
    height: 100%;
    background-image: url(http://placehold.it/800x400);
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
}
.headshot2{
    height: 100%;
    background-image: url(http://placehold.it/800x400);
    background-position: center;
    background-size: cover;
}
.headshot3{
    height: 49.48%;
    background-image: url(http://placehold.it/800x400);
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
}
.headshot4{
    height: 49.48%;
    background-image: url(http://placehold.it/800x400);
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
}
.headshot5{
    height: 100%;
    background-image: url(http://placehold.it/800x400);
    background-position: center;
    background-size: cover;
}

